# Any data files generated
*.txt

# Any auxillary writeup files, only .tex is needed to generate
*.aux
*.bbl
*.blg
*.log
*.out
*.pdf

# Generated binaries
*.pyc

data/
/tingrc
cache/
/.vagrant/
/scripts/local-guardrc
/scripts/local-exitrc
**/.mypy_cache/
